<nav>
    <div class="links-div">
        <% if (locals.user && locals.user.member && locals.user.admin) { %>
            <!-- Admin -->
            <div class="links log">
                <a class="navigation" href="/logOut">Log Out</a>
            </div> 
            <div class="links">
                <a class="navigation" href="/newMessage">New Message</a>
            </div>
        <% } else if (locals.user && locals.user.member && !locals.user.admin) { %>
            <!-- Member -->
            <div class="links log">
                <a class="navigation" href="/logOut">Log Out</a>
            </div> 
            <div class="links">
                <a class="navigation" href="/newMessage">New Message</a>
            </div>
            <div class="links join">
                <a class="navigation" href="/admin">Become Admin</a>
            </div>
        <% } else if (locals.user && !locals.user.member && !locals.user.admin) { %>
            <!-- Logged-in but not member/admin -->
            <div class="links log">
                <a class="navigation" href="/logOut">Log Out</a>
            </div> 
            <div class="links">
                <a class="navigation" href="/newMessage">New Message</a>
            </div>
            <div class="links join">
                <a class="navigation" href="/join">Join</a>
            </div>
        <% } else { %>
            <!-- Not logged in -->
            <div class="links log">
                <a class="navigation" href="/logIn">Log-In</a>
            </div>
            <div class="links">
                <a class="navigation" href="/signIn">Sign-Up</a>
            </div>
        <% } %>
    </div>

    <% if (locals.user) { %>
        <div class="welcome">
            <h3>Logged in as <%= user.name %></h3>
        </div>
    <% } %>
    
    <a class="title-website" href="/">
        <h1>Very very</h1> 
        <h1>secret group</h1>
    </a>
</nav>



