<nav>
    <div class="links-div">
        <% if (locals.user) {%>
            <div class="links log">
                <a class="navigation" href="/logOut">Log Out</a>
            </div> 
            <div class="links">
                <a class="navigation" href="/newMessage">New Message</a>
            </div>
            <div class="links join">
                <% if (!locals.user.member) { %>
                    <a class="navigation" href="/join">Join</a>
                <% } else if (locals.user.member && !locals.user.admin) { %>
                    <a class="navigation" href="/admin">Admin</a>
                <% } %>  
            </div>
        <% } else { %>
            <div class="links log">
                <a class="navigation" href="/logIn">Log-In</a>
            </div>
            <div class="links">
                <a class="navigation" href="/signIn">Sign-Up</a>
            </div>
        <% } %>
    </div>

    <% if (locals.user) {%>
        <div class="welcome" href="/">
            <h3>Logged in as </h3>
            <h3><%= user.name %></h3>
        </div>
    <% } %>
    
    <a class="title-website" href="/">
        <h1> Very very</h1> 
        <h1>secret group</h1>
    </a>
    
</nav>


