<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles.css" rel="stylesheet">
    <title>New Message</title>
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <form method="POST" action="/newMessage">
        <%- include("partials/errors") %>
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title">
        </div>

        <div>
            <label for="content">Message:</label>
            <textarea id="content" name="content"></textarea>
        </div>
        <button type="submit">submit</button>
    </form>
</body>
</html>