<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles.css" rel="stylesheet">
    <title>Index</title>
</head>
<body>
    <%- include("partials/navbar") %>
    <div class="messages-div">
        <div class="message-div">
            <h2>YOU ARE NOT AUTHORISED TO USE OR VIEW THIS RESSOURCE</h2>
        </div>
    </div>
</body>
</html>